<div class="container">
<div class="jumbotron">

<h1 class="title">Popular Articles</h1>

<h2>Listed below<h2>

<ol>
  {{#each articles}}
    <li class="">
        <h3><a href="{{url}}" target="_blank">{{title}}</a></h3>
        <h4>{{author}}</h4>
        <h4>{{site}}</h4>
{{!--         <p>{{url}}</p>
 --}}        <p>{{popular}}</p>
        <button class="upVote btn btn-lg btn-primary" 
            data-id="{{id}}" 
            type="button">
            Up Vote
        </button>
        <button class="downVote btn btn-lg btn-primary"
            data-id="{{id}}"
            type="button">
            Down Vote
        </button>
    </li>
  {{/each}}
</ol>

</div>
</div>
