<div class="container">
<div class="jumbotron">

<h1 class="title">Recent News</h1>


<ol>
  {{#each articles}}
  	<li class="list">
  		<h3 class="recentTitle">{{title}}</h3>
  		<h4 class="recentAuthor">{{author}}</h4>
  		<h4 class="recentSite">{{site}}</h4>
  	<div class="scroll"><p>{{text}}</p></div>
  		<button class="pushToPop btn btn-lg btn-block btn-primary" 
  			{{!-- onclick="handleRecentButtonClick()" --}}
  			data-title="{{title}}"  
  			data-author="{{author}}" 
  			data-id="{{id}}" 
  			type="button">
			{{#if alreadyintable}}Already Up For Vote{{else}}Send to Popular{{/if}}
		</button>
  	</li>
  {{/each}}
</ol>
</div>
</div>
