<div class="container">
<div class="jumbotron">

<h1 class="title">Recent News</h1>

<h2>Some shit below<h2>

<ol>
  {{#each articles}}
  	<li>
  		<h3>{{title}}</h3>
  		<h4>{{author}}</h4>
  		<h4>{{site}}</h4>
  		<p>{{text}}</p>
  		<button class="pushToPop btn btn-lg btn-block btn-primary" 
  			{{!-- onclick="handleRecentButtonClick()" --}}
  			data-title="{{title}}"  
  			data-author="{{author}}" 
  			data-id="{{id}}" 
  			type="button">
			{{#if alreadyintable}}Already Up For Vote{{else}}Send to Popular{{/if}}
		</button>
  	</li>
  {{/each}}
</ol>
</div>
</div>